<% layout('layouts/boilerplate') %>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1520095972714-909e91b038e5?crop=entropy&cs=tinysrgb&fit=max&fm=eyJhcHBfaWQiOjEyMDd9&auto=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"    alt="" class="card-img-top" />
                    <!-- <img src="https://source.unsplash.com/yBgC-qVCxMg"
                    alt="" class="card-img-top" /> -->
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="Enter username" autofocus required>
                            <div class="invalid-feedback">
                                Please enter username!
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="Enter email" required>
                            <div class="invalid-feedback">
                                Please enter email!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" placeholder="Enter password" required>
                            <div class="invalid-feedback">
                                Please enter password!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
